@use "@carbon/styles/scss/type";

.patient-form {
  padding: var(--cds-spacing-10) var(--cds-spacing-05);
  background-color: var(--cds-layer);
}

.patient-form cds-button-set {
  display: flex;
  justify-content: flex-end;
  padding-right: var(--cds-spacing-05);
}

.patient-results__empty {
  margin: 0;
  padding: var(--cds-spacing-05);
}

@media (max-width: 960px) {
  .patient-form {
    padding: var(--cds-spacing-05);
  }
}

@media (max-width: 640px) {
  .patient-form {
    padding: var(--cds-spacing-03);
  }
}
